# Git
.git
.gitignore

# Environment variables
.env
.env copy

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# Logs
*.log

# Session files
*.session
*.session-journal

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store
README.md 